# Clean the DAVID-returned .txt's

In [1]:
import numpy as np
import pandas as pd

### List of DAVID .txt's and new .txt's to write to

In [2]:
davids = ['PA_DAVID.txt', 'BS_DAVID.txt', 'EC_DAVID.txt']
cl_davids = ['pa_david.txt', 'bs_david.txt', 'ec_david.txt']

### Import one of the .txt's to practice with

In [3]:
david_df = pd.read_csv(davids[0], sep='\t')

### Function to clean the DAVID results

In [4]:
def clean_david(david_df):
    '''Clean the david results .txt's'''
    # Initiate the cleaned DAVID df with first row of DAVID df from .txt
    column_names = ['From', 'To', 'Species', 'Gene Name']
    cl_david = pd.DataFrame(columns=column_names)
    cl_david = cl_david.append(david_df.loc[0])
    
    for i in range(len(david_df)):
        if david_df['From'][i] in cl_david['From']:
            for j in range(len(cl_david)):
                if david_df['From'][i] == cl_david['From'][j]:
                    if david_df['To'][i] > cl_david['To'][j]:
                        cl_david = cl_david.append(david_df.loc[i], ignore_index=True)
                        cl_david = cl_david.drop([j], inplace=True)
                        cl_david = cl_david.reset_index(drop=True, inplace=True)
                    else:
                        continue
                else:
                    continue
        else:
            cl_david = cl_david.append(david_df.loc[i], ignore_index=True)
                
    return cl_david

### Test the function

In [5]:
pa_david = clean_david(davids[0])

AttributeError: 'str' object has no attribute 'loc'

In [6]:
type(david_df)

pandas.core.frame.DataFrame

In [7]:
david_df.loc[0]

From                           NP_253120
To                               9950663
Species      Pseudomonas aeruginosa PAO1
Gene Name           cytochrome b(PA4430)
Name: 0, dtype: object

### It says that 'str' object has no attribute 'loc', but the type of david_df is pd.DF.  This worked earlier and I'm so lost.  Going to bed

### Below this point, stuff gets weird.

In [ ]:
def clean_david(david_df):
    '''Clean the david results .txt's'''
    # Initiate the cleaned DAVID df with first row of DAVID df from .txt
    column_names = ['From', 'To', 'Species', 'Gene Name']
    cl_david = pd.DataFrame(columns=column_names)
    cl_david = cl_david.append(david_df.loc[0])
    
    for i in range(len(david_df)):
        for j in range(len(cl_david)):
            if david_df['From'][i] == cl_david['From'][j]:
                if david_df['To'][i] > cl_david['To'][j]:
                    cl_david = cl_david.append(david_df.loc[i], ignore_index=True)
                    cl_david = cl_david.drop([j], inplace=True)
                    cl_david = cl_david.reset_index(drop=True, inplace=True)
                else:
                    continue
            else:
                cl_david = cl_david.append(david_df.loc[i])
                cl_david = cl_david.reset_index(drop=True, inplace=True)
                
    return cl_david

In [14]:
column_names = ['From', 'To', 'Species', 'Gene Name']
cl_david = pd.DataFrame(columns=column_names)
cl_david = cl_david.append(david_df.loc[0])
cl_david

        From       To                      Species             Gene Name
0  NP_253120  9950663  Pseudomonas aeruginosa PAO1  cytochrome b(PA4430)

In [15]:
type(cl_david)

pandas.core.frame.DataFrame

In [6]:
i=3
j=0
david_df['From'][i] == cl_david['From'][j]

False

In [7]:
cl_david = cl_david.append(david_df.loc[i])

In [12]:
type(cl_david)

NoneType

In [11]:
cl_david.reset_index(drop=True, inplace=True)
cl_david

AttributeError: 'NoneType' object has no attribute 'reset_index'

In [104]:
pa_david

Empty DataFrame
Columns: [From, To, Species, Gene Name]
Index: []

In [105]:
column_names = ['From', 'To', 'Species', 'Gene Name']
cl_david = pd.DataFrame(columns=column_names)
cl_david = cl_david.append(david_df.loc[0])
cl_david

        From       To                      Species             Gene Name
0  NP_253120  9950663  Pseudomonas aeruginosa PAO1  cytochrome b(PA4430)

In [ ]:
for i in range(len(david_df)):
        for j in range(len(cl_david)):
            if david_df['From'][i] == cl_david['From'][j]:
                if david_df['To'][i] > cl_david['To'][j]:
                    cl_david.append(david_df.loc[i], ignore_index=True)
                    cl_david.drop([j], inplace=True)
                    cl_david.reset_index(drop=True, inplace=True)

In [106]:
i = 0
j = 0
david_df['From'][i] == cl_david['From'][j]

True

In [107]:
david_df['To'][i] > cl_david['To'][j]

False

In [92]:
cl_david = cl_david.append(david_df.loc[3])
cl_david

,From,To,Species,Gene Name
0,NP_253120,9950663,Pseudomonas aeruginosa PAO1,cytochrome b(PA4430)
3,NP_253761,15600267,Pseudomonas aeruginosa PAO1,ABC transporter ATP-binding protein(PA5074)

In [93]:
cl_david = cl_david.append(david_df.loc[5])
cl_david

,From,To,Species,Gene Name
0,NP_253120,9950663,Pseudomonas aeruginosa PAO1,cytochrome b(PA4430)
3,NP_253761,15600267,Pseudomonas aeruginosa PAO1,ABC transporter ATP-binding protein(PA5074)
5,NP_254178,9951825,Pseudomonas aeruginosa PAO1,cytochrome(PA5491)

In [94]:
cl_david = cl_david.append(david_df.loc[2])
cl_david

,From,To,Species,Gene Name
0,NP_253120,9950663,Pseudomonas aeruginosa PAO1,cytochrome b(PA4430)
3,NP_253761,15600267,Pseudomonas aeruginosa PAO1,ABC transporter ATP-binding protein(PA5074)
5,NP_254178,9951825,Pseudomonas aeruginosa PAO1,cytochrome(PA5491)
2,NP_253761,9951367,Pseudomonas aeruginosa PAO1,ABC transporter ATP-binding protein(PA5074)

In [96]:
cl_david.drop(5, inplace=True)
cl_david

,From,To,Species,Gene Name
0,NP_253120,9950663,Pseudomonas aeruginosa PAO1,cytochrome b(PA4430)
2,NP_253761,9951367,Pseudomonas aeruginosa PAO1,ABC transporter ATP-binding protein(PA5074)

In [97]:
cl_david.reset_index()
cl_david.append(david_df.loc[40], ignore_index=True)

,From,To,Species,Gene Name
0,NP_253120,9950663,Pseudomonas aeruginosa PAO1,cytochrome b(PA4430)
1,NP_253761,9951367,Pseudomonas aeruginosa PAO1,ABC transporter ATP-binding protein(PA5074)
2,NP_250126,15596632,Pseudomonas aeruginosa PAO1,resistance-nodulation-cell division (RND) effl...

In [28]:
# This is a bad function
def clean_david(david):
    
    #Initiate cleaned df
    column_names = ['From', 'To', 'Species', 'Gene Name']
    cl_david = pd.DataFrame(columns=column_names)

    ran = len(david) - 2
    for i in range(ran):
        if david['From'][i] == david['From'][i+1]:
            if david['From'][i] == david['From'][i+2]:
                ind = david['To'][i:i+3].idxmax()
                cl_david = cl_david.append(david.loc[ind])
            else:
                ind = david['To'][i:i+2].idxmax()
                cl_david = cl_david.append(david.loc[ind])
        else:
            continue

    cl_david = cl_david.reset_index(drop=True)
    
    return cl_david

In [29]:
davids = ['PA_DAVID.txt', 'BS_DAVID.txt', 'EC_DAVID.txt']
cl_davids = ['pa_david.csv', 'bs_david.csv', 'ec_david.csv']

for i in range(len(davids)):
    input = pd.read_csv(davids[i], sep='\t')
    output = cl_davids
    
    cl_david = clean_david(input)
    
    # For PA organism specifically
    if cl_david['Species'][0] == 'Pseudomonas aeruginosa PAO1':
        column_names = ['From', 'To', 'Species', 'Gene Name']
        cl_david_PA = pd.DataFrame(columns=column_names)
        cl_david_PA = cl_david[0:230]
        # Append just index 230 row
        cl_david_PA = cl_david_PA.append(cl_david.loc[230])
        # Save as csv
        cl_david_PA.to_csv(output[0])
    
    # For BA organism specifically
    #if cl_david['Species'][0] == 'Bacillus subtilis subsp. subtilis str. 168':
        #column_names = ['From', 'To', 'Species', 'Gene Name']
        #cl_david_BA = pd.DataFrame(columns=column_names)
        #cl_david_BA = cl_david[0:388]
        ## Append just index 230 row
        #cl_david_BA = cl_david_BA.append(cl_david.loc[388])
        ## Save as csv
        #cl_david_BA.to_csv(output[1])
    
    # For EC organism specifically
    #if cl_david['Species'][0] == 'Escherichia coli str. K-12 substr. MG1655':
        #column_names = ['From', 'To', 'Species', 'Gene Name']
        #cl_david_EC = pd.DataFrame(columns=column_names)
        #cl_david_EC = cl_david[0:664]
        ## Append just index 230 row
        #cl_david_EC = cl_david_EC.append(cl_david.loc[664])
        ## Save as csv
        #cl_david_EC.to_csv(output[2])

In [30]:
cl_david

,From,To,Species,Gene Name
0,NP_417169,937519109,Escherichia coli str. K-12 substr. MG1655,transcriptional repressor of microcin B17 synt...
1,NP_417169,999849414,Escherichia coli str. K-12 substr. MG1655,transcriptional repressor of microcin B17 synt...
2,NP_417169,999849414,Escherichia coli str. K-12 substr. MG1655,transcriptional repressor of microcin B17 synt...
3,NP_417169,999849414,Escherichia coli str. K-12 substr. MG1655,transcriptional repressor of microcin B17 synt...
4,NP_417169,985001528,Escherichia coli str. K-12 substr. MG1655,transcriptional repressor of microcin B17 synt...
...,...,...,...,...
663,YP_588444,937520982,Escherichia coli str. K-12 substr. MG1655,cytochrome d (bd-I) ubiquinol oxidase subunit ...
664,YP_026264,985002611,Escherichia coli str. K-12 substr. MG1655,threonine efflux pump(rhtC)
665,YP_026264,985002611,Escherichia coli str. K-12 substr. MG1655,threonine efflux pump(rhtC)
666,YP_026264,999848325,Escherichia coli str. K-12 substr. MG1655,threonine efflux pump(rhtC)
667,YP_026264,999848325,Escherichia coli str. K-12 substr. MG1655,threonine efflux pump(rhtC)

### Work to get to the code above

In [25]:
david

,Unnamed: 0,From,To,Species,Gene Name
0,0,NP_417169,937519109,Escherichia coli str. K-12 substr. MG1655,transcriptional repressor of microcin B17 synt...
1,1,NP_417169,999849414,Escherichia coli str. K-12 substr. MG1655,transcriptional repressor of microcin B17 synt...
2,2,NP_417169,999849414,Escherichia coli str. K-12 substr. MG1655,transcriptional repressor of microcin B17 synt...
3,3,NP_417169,999849414,Escherichia coli str. K-12 substr. MG1655,transcriptional repressor of microcin B17 synt...
4,4,NP_417169,985001528,Escherichia coli str. K-12 substr. MG1655,transcriptional repressor of microcin B17 synt...
...,...,...,...,...,...
660,660,YP_588444,999851277,Escherichia coli str. K-12 substr. MG1655,cytochrome d (bd-I) ubiquinol oxidase subunit ...
661,661,YP_588444,999851277,Escherichia coli str. K-12 substr. MG1655,cytochrome d (bd-I) ubiquinol oxidase subunit ...
662,662,YP_588444,937520982,Escherichia coli str. K-12 substr. MG1655,cytochrome d (bd-I) ubiquinol oxidase subunit ...
663,663,YP_588444,937520982,Escherichia coli str. K-12 substr. MG1655,cytochrome d (bd-I) ubiquinol oxidase subunit ...
664,664,YP_026264,985002611,Escherichia coli str. K-12 substr. MG1655,threonine efflux pump(rhtC)

In [54]:
type(david['To'][2])

numpy.int64

In [61]:
i = 0
david['From'][i:i+2]

david['From'][i] == david['From'][i+1]

True

In [63]:
column_names = ['From', 'To', 'Species', 'Gene Name']
cl_david = pd.DataFrame(columns=column_names)
cl_david

Empty DataFrame
Columns: [From, To, Species, Gene Name]
Index: []

In [56]:
ind = david['To'][i:i+5].idxmax()
print(ind)

4

In [57]:
david.loc[ind]

From                           NP_254178
To                              15600684
Species      Pseudomonas aeruginosa PAO1
Gene Name             cytochrome(PA5491)
Name: 4, dtype: object

In [58]:
cl_david.append(david.loc[ind])

        From        To                      Species           Gene Name
4  NP_254178  15600684  Pseudomonas aeruginosa PAO1  cytochrome(PA5491)

In [102]:
#Initiate cleaned df
column_names = ['From', 'To', 'Species', 'Gene Name']
cl_david = pd.DataFrame(columns=column_names)

ran = len(david) - 4
for i in range(ran):
    if david['From'][i] == david['From'][i+1]:
        if david['From'][i] == david['From'][i+2]:
            ind = david['To'][i:i+3].idxmax()
            cl_david = cl_david.append(david.loc[ind])
        else:
            ind = david['To'][i:i+2].idxmax()
            cl_david = cl_david.append(david.loc[ind])
    else:
         continue

cl_david = cl_david.reset_index(drop=True)

# For PA organism specifically
if cl_david['Species'][0] == 'Pseudomonas aeruginosa PAO1':
    column_names = ['From', 'To', 'Species', 'Gene Name']
    cl_david_PA = pd.DataFrame(columns=column_names)
    cl_david_PA = cl_david[0:230]
    # Append just index 230 row
    cl_david_PA = cl_david_PA.append(cl_david.loc[230])

In [103]:
cl_david_PA

,From,To,Species,Gene Name
0,NP_253120,15599626,Pseudomonas aeruginosa PAO1,cytochrome b(PA4430)
1,NP_253761,15600267,Pseudomonas aeruginosa PAO1,ABC transporter ATP-binding protein(PA5074)
2,NP_254178,15600684,Pseudomonas aeruginosa PAO1,cytochrome(PA5491)
3,NP_249786,15596292,Pseudomonas aeruginosa PAO1,B-type flagellar protein FliS(PA1095)
4,NP_249786,15596292,Pseudomonas aeruginosa PAO1,B-type flagellar protein FliS(PA1095)
...,...,...,...,...
226,NP_251502,15598008,Pseudomonas aeruginosa PAO1,ABC transporter ATP-binding protein(PA2812)
227,NP_250133,15596639,Pseudomonas aeruginosa PAO1,flagellar basal body protein FliL(PA1442)
228,NP_253769,15600275,Pseudomonas aeruginosa PAO1,ABC transporter(PA5082)
229,NP_253763,15600269,Pseudomonas aeruginosa PAO1,ABC transporter(PA5076)
230,NP_253762,300562301,Pseudomonas aeruginosa PAO1,ABC transporter permease(PA5075)

In [ ]:
#Initiate cleaned df --doesn't work
column_names = ['From', 'To', 'Species', 'Gene Name']
cl_david = pd.DataFrame(columns=column_names)

for i in range(len(david)-1):
        if david['From'][i] == david['From'][i+1]:
            if david['From'][i] == david['From'][i+2]:
                if david['From'][i] == david['From'][i+3]:
                    if david['From'][i] == david['From'][i+4]:
                        if david['From'][i] == david['From'][i+5]:
                            ind = david['To'][i:i+6].idxmax()
                            cl_david.append(david.loc[ind])
                        else:
                            ind = david['To'][i:i+5].idxmax()
                            cl_david.append(david.loc[ind])
                    else:
                        ind = david['To'][i:i+4].idxmax()
                        cl_david.append(david.loc[ind])
                else:
                    ind = david['To'][i:i+3].idxmax()
                    cl_david.append(david.loc[ind])
            else:
                ind = david['To'][i:i+2].idxmax()
                cl_david.append(david.loc[ind])
        else:
            continue

In [ ]:
davids = ['PA_DAVID.txt', 'BS_DAVID.txt', 'EC_DAVID.txt']
cl_davids = ['pa_david.txt', 'bs_david.txt', 'ec_david.txt']
david = pd.read_csv(davids[0], sep='\t')

In [ ]:
# MW my edits
gene_dict = {}
gene_name_dict = {}
species_dict = {}


def add_max_to_dict(key, value):
    if key not in gene_dict.keys():
        gene_dict[key] = value
    else:
        if value > gene_dict[key]:
            print(f'Replacing <{key}, {gene_dict[key]}> with {value}')

        gene_dict[key] = max(value, gene_dict[key])


def add_to_dict(dict_name, key, value):
    if key not in dict_name.keys():
        dict_name[key] = value


def print_dict(dict_name):
    for key in dict_name.keys():
        print(f'[ {key} : {dict_name[key]} ]')


with open('PA_DAVID.txt', 'r') as f:
    f.readline()
    for line in f.readlines():
        clean_line = line.replace('\t', ', ')
        values = clean_line.split(",")
        add_max_to_dict(values[0], int(values[1]))
        add_to_dict(gene_name_dict, values[0], values[3].strip())
        add_to_dict(species_dict, values[0], values[2].strip())

print_dict(gene_dict)
print_dict(gene_name_dict)
print_dict(species_dict)

In [24]:
# Matthew Weser suggestion
gene_dict = {}
gene_name_dict = {}
species_dict = {}


def add_max_to_dict(key, value):
    if key not in gene_dict.keys():
        gene_dict[key] = value
    else:
        if value > gene_dict[key]:
            print(f'Replacing <{key}, {gene_dict[key]}> with {value}')

        gene_dict[key] = max(value, gene_dict[key])


def add_to_dict(dict_name, key, value):
    if key not in dict_name.keys():
        dict_name[key] = value


def print_dict(dict_name):
    for key in dict_name.keys():
        print(f'[ {key} : {dict_name[key]} ]')


with open('PA_DAVID.txt', 'r') as f:
    f.readline()
    for line in f.readlines():
        clean_line = line.replace('\t', ', ')
        values = clean_line.split(",")
        add_max_to_dict(values[0], int(values[1]))
        add_to_dict(gene_name_dict, values[0], values[3].strip())
        add_to_dict(species_dict, values[0], values[2].strip())

print_dict(gene_dict)
print_dict(gene_name_dict)
print_dict(species_dict)

IndentationError: expected an indented block (<ipython-input-24-592d527e09d9>, line 14)