In [2]:
#import packages
import math
import pandas as pd
import numpy as np
import random

In [23]:
#create a list of random integers of percent matches
#size is 436 because the df has 436 rows
percent_match= list(np.random.randint(low = 0,high=100,size=436))
print(percent_match)

[81, 53, 93, 6, 19, 62, 25, 53, 60, 14, 98, 66, 85, 77, 9, 22, 36, 51, 16, 77, 90, 19, 74, 93, 78, 26, 30, 63, 45, 84, 3, 26, 71, 18, 34, 48, 27, 86, 32, 50, 65, 17, 74, 74, 19, 35, 96, 72, 98, 14, 42, 67, 74, 63, 33, 55, 17, 43, 8, 0, 26, 48, 6, 14, 17, 99, 94, 60, 17, 75, 58, 24, 37, 16, 58, 43, 13, 56, 60, 68, 4, 4, 98, 77, 67, 1, 19, 22, 11, 52, 92, 78, 9, 2, 96, 0, 13, 63, 64, 82, 91, 6, 1, 13, 66, 74, 67, 29, 46, 90, 87, 57, 23, 40, 51, 94, 80, 1, 16, 38, 65, 43, 71, 85, 92, 92, 24, 71, 37, 27, 32, 4, 1, 38, 50, 33, 80, 89, 23, 19, 99, 92, 86, 80, 85, 87, 29, 82, 62, 13, 1, 79, 79, 77, 68, 45, 78, 74, 16, 48, 28, 13, 43, 56, 74, 69, 72, 3, 83, 89, 43, 42, 7, 62, 85, 1, 40, 84, 7, 26, 9, 66, 63, 38, 31, 75, 76, 59, 96, 6, 99, 19, 43, 0, 94, 31, 12, 8, 94, 82, 22, 27, 45, 37, 45, 53, 52, 74, 40, 63, 77, 2, 18, 68, 60, 78, 71, 37, 79, 10, 9, 91, 91, 82, 26, 88, 41, 19, 15, 56, 84, 96, 46, 54, 7, 46, 66, 17, 8, 34, 92, 36, 81, 16, 13, 41, 14, 79, 44, 59, 39, 37, 99, 79, 7, 18, 85, 59, 41, 85, 43, 66, 99, 62, 0, 57, 55, 30, 65, 52, 71, 58, 30, 74, 21, 30, 72, 25, 77, 83, 93, 28, 4, 18, 60, 29, 40, 73, 73, 93, 64, 69, 22, 92, 33, 60, 79, 52, 30, 93, 89, 10, 2, 50, 22, 4, 25, 7, 89, 39, 7, 61, 42, 35, 56, 18, 66, 68, 63, 73, 72, 12, 62, 80, 22, 9, 45, 48, 92, 69, 71, 43, 69, 19, 70, 71, 87, 91, 75, 16, 21, 61, 47, 57, 49, 91, 48, 10, 24, 86, 40, 65, 80, 67, 90, 39, 28, 49, 45, 94, 60, 25, 9, 36, 82, 36, 81, 80, 99, 16, 34, 23, 84, 21, 86, 76, 16, 49, 58, 33, 74, 32, 8, 27, 67, 85, 33, 55, 27, 21, 17, 16, 22, 56, 43, 88, 79, 60, 15, 86, 73, 10, 34, 2, 39, 39, 26, 54, 1, 17, 41, 16, 6, 32, 81, 3, 87, 7, 83, 44, 96, 71, 32, 63, 80, 33, 64, 35, 8, 14, 25, 74, 83, 55, 44, 16]

In [20]:
bacterial_csv = pd.read_csv('compiled_data_DIRECT.csv')
df = pd.DataFrame(data=bacterial_csv)
df.head()

,GENENAME,ORG,REFSEQ,ENTREZID,LOG2FC,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,ABC_transporter,PA,NP_248876.1,879411,-0.038469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABC_transporter,PA,NP_248894.1,883108,-0.207718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABC_transporter,PA,NP_249014.1,878380,-0.187309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABC_transporter,PA,NP_249293.1,880771,0.085173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABC_transporter,PA,NP_249295.1,879023,0.038834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#open the compiled CSV without the 
bacterial_csv = pd.read_csv('compiled_final.csv')
df = pd.DataFrame(data=bacterial_csv)
df

            GENENAME ORG       REFSEQ  ENTREZID    LOG2FC
0    ABC_transporter  PA  NP_248876.1    879411 -0.038469
1    ABC_transporter  PA  NP_248894.1    883108 -0.207718
2    ABC_transporter  PA  NP_249014.1    878380 -0.187309
3    ABC_transporter  PA  NP_249293.1    880771  0.085173
4    ABC_transporter  PA  NP_249295.1    879023  0.038834
..               ...  ..          ...       ...       ...
431   RNA_polymerase  BS  NP_388354.2    939937 -0.055848
432   RNA_polymerase  BS  NP_391300.1    936362 -0.140629
433   RNA_polymerase  BS  NP_390226.1    938729 -0.528350
434   RNA_polymerase  BS  NP_389416.1    939953  0.303125
435   RNA_polymerase  BS  NP_389415.2    939683 -0.083972

[436 rows x 5 columns]

In [26]:
#append percent match as a new column to the exsisting df
df['PM'] = percent_match

In [27]:
#the new df with percent match appended
df

            GENENAME ORG       REFSEQ  ENTREZID    LOG2FC  PM
0    ABC_transporter  PA  NP_248876.1    879411 -0.038469  81
1    ABC_transporter  PA  NP_248894.1    883108 -0.207718  53
2    ABC_transporter  PA  NP_249014.1    878380 -0.187309  93
3    ABC_transporter  PA  NP_249293.1    880771  0.085173   6
4    ABC_transporter  PA  NP_249295.1    879023  0.038834  19
..               ...  ..          ...       ...       ...  ..
431   RNA_polymerase  BS  NP_388354.2    939937 -0.055848  74
432   RNA_polymerase  BS  NP_391300.1    936362 -0.140629  83
433   RNA_polymerase  BS  NP_390226.1    938729 -0.528350  55
434   RNA_polymerase  BS  NP_389416.1    939953  0.303125  44
435   RNA_polymerase  BS  NP_389415.2    939683 -0.083972  16

[436 rows x 6 columns]