In [29]:
from Bio import Align
import csv
import itertools
import pandas as pd

#### Psuedo Code:

- read csv column containing sequences as a list of strings
- use single for loop with `itertools.combinations(<listname>, 2)` and `Align.PairwiseAligner()` to get new list of alignement scores.

- Issues to solve:
    - Limit each sequence pair to 1 alignment (sometimes it likes to give 2)
    - Ensure scoring params are same as blastn (https://www.ncbi.nlm.nih.gov/books/NBK279684/#_appendices_BLAST_Substitution_Matrices_)

In [37]:
with open('Alignment_RM_Test.csv', 'r') as csv_file:
    lines = csv_file.readlines()
    
headers = lines[0].rstrip().split(',') # rstrip removes end-of-line chars
numLines = len(lines)

# create lineList to include only numLines elements
linelist = [x.rstrip().split(',')
           for x in lines[1:numLines+1]] 

# list comprehension within dictionary comprehension to split each element by its headers and create dictionary of lists
outputDict = {keyVal:[x[idx] 
                       for x in linelist 
                       if len(x) == len(headers)] 
              for idx, keyVal in enumerate (headers)}

In [38]:
outputDict # print dict to make sure everything worked

{'x': ['1', '2', '3', '4', '5', '6', '7'],
 'y': ['atgcatgc',
  'attgctgc',
  'tttgccgg',
  'atgctttt',
  'cgggctaa',
  'tgtgtgta',
  'tagggccc'],
 '': ['', '', '', '', '', '', '']}

In [39]:
# convert our desired column(s) from dict values into list
seq_list = list(outputDict.get('y'))
print(seq_list)

['atgcatgc', 'attgctgc', 'tttgccgg', 'atgctttt', 'cgggctaa', 'tgtgtgta', 'tagggccc']

In [50]:
aligner = Align.PairwiseAligner()
aligner.mode = 'local'

pair_list = []

for a, b in itertools.combinations(seq_list, 2):
    alignments = aligner.align(a, b)
    pair_list.append([a, b])
    
print(pair_list)

[['atgcatgc', 'attgctgc'], ['atgcatgc', 'tttgccgg'], ['atgcatgc', 'atgctttt'], ['atgcatgc', 'cgggctaa'], ['atgcatgc', 'tgtgtgta'], ['atgcatgc', 'tagggccc'], ['attgctgc', 'tttgccgg'], ['attgctgc', 'atgctttt'], ['attgctgc', 'cgggctaa'], ['attgctgc', 'tgtgtgta'], ['attgctgc', 'tagggccc'], ['tttgccgg', 'atgctttt'], ['tttgccgg', 'cgggctaa'], ['tttgccgg', 'tgtgtgta'], ['tttgccgg', 'tagggccc'], ['atgctttt', 'cgggctaa'], ['atgctttt', 'tgtgtgta'], ['atgctttt', 'tagggccc'], ['cgggctaa', 'tgtgtgta'], ['cgggctaa', 'tagggccc'], ['tgtgtgta', 'tagggccc']]

In [51]:
'''Needs to be fixed'''

score_list = []
    
for alignment in sorted(pair_list):
    #print("Score = %.1f:" % alignment.score)
    #print(alignment)
    score_list.append(alignment.score)

AttributeError: 'list' object has no attribute 'score'

In [41]:
pair_list
print(len(pair_list))

21

In [42]:
score_list
print(len(score_list))

1

In [32]:
alignment_df = pd.DataFrame(pair_list)
alignment_df

           0         1
0   atgcatgc  attgctgc
1   atgcatgc  tttgccgg
2   atgcatgc  atgctttt
3   atgcatgc  cgggctaa
4   atgcatgc  tgtgtgta
5   atgcatgc  tagggccc
6   attgctgc  tttgccgg
7   attgctgc  atgctttt
8   attgctgc  cgggctaa
9   attgctgc  tgtgtgta
10  attgctgc  tagggccc
11  tttgccgg  atgctttt
12  tttgccgg  cgggctaa
13  tttgccgg  tgtgtgta
14  tttgccgg  tagggccc
15  atgctttt  cgggctaa
16  atgctttt  tgtgtgta
17  atgctttt  tagggccc
18  cgggctaa  tgtgtgta
19  cgggctaa  tagggccc
20  tgtgtgta  tagggccc

In [36]:
score_df = pd.DataFrame(score_list)
score_df

      0
0   4.0
1   4.0
2   4.0
3   4.0
4   4.0
5   4.0
6   4.0
7   4.0
8   4.0
9   4.0
10  4.0
11  4.0
12  4.0
13  4.0
14  4.0
15  4.0
16  4.0
17  4.0
18  4.0
19  4.0
20  4.0
21  4.0
22  4.0
23  4.0
24  4.0