## Generate GI number for each REF_SEQ
DAVID (DAVID Functional Annotation Bioinformatics Microarray Analysis, https://david.ncifcrf.gov/conversion.jsp ) was used to convert REF_SEQ accession numbers to Protein_GI_Accession numbers. 

After this, the protein sequences for each GI number will be retrieved from NCBI. **pull_protein_seq_AK.ipynb**

In [1]:
# import relevant libraries
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('compiled_final_REFSEQ.csv')
df = pd.DataFrame(data)
df.head()

          GENENAME ORG  ENTREZID       REFSEQ    LOG2FC
0  ABC_transporter  PA    879411  NP_248876.1 -0.038469
1  ABC_transporter  PA    883108  NP_248894.1 -0.207718
2  ABC_transporter  PA    878380  NP_249014.1 -0.187309
3  ABC_transporter  PA    880771  NP_249293.1  0.085173
4  ABC_transporter  PA    879023  NP_249295.1  0.038834

In [3]:
# remove decimal point from REFSEQ column
df['REFSEQ'] = df['REFSEQ'].astype(str).replace('\.1', '', regex=True)
df['REFSEQ'] = df['REFSEQ'].astype(str).replace('\.2', '', regex=True)
df.head()

          GENENAME ORG  ENTREZID     REFSEQ    LOG2FC
0  ABC_transporter  PA    879411  NP_248876 -0.038469
1  ABC_transporter  PA    883108  NP_248894 -0.207718
2  ABC_transporter  PA    878380  NP_249014 -0.187309
3  ABC_transporter  PA    880771  NP_249293  0.085173
4  ABC_transporter  PA    879023  NP_249295  0.038834

In [4]:
# save modified REFSEQ column to new DataFrame
DAVID = df[['REFSEQ']].copy()

DAVID.head()

      REFSEQ
0  NP_248876
1  NP_248894
2  NP_249014
3  NP_249293
4  NP_249295

In [19]:
# export DataFrame as a .csv file for input into DAVID
DAVID.to_csv('DAVID.csv', index = False)